﻿<%@ Page Title="Address" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="database.aspx.cs" Inherits="Assignment_2a.Contact" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <h2>Database design and development</h2>
    <h3>Simon borer</h3>
    <p>This is quite interested subject to get different datas by applying different constraints. </p>
    <div class="row">
        <div class="col-md-6">
            <h2>Course Number</h2>
            <p>
                 The course number of the Database design and development is http 5105.
            </p>
            <p>
                <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301948">Learn more &raquo;</a>
            </p>
        </div>
        <div class="col-md-6">
            <h2>About The course </h2>
            <p>
                This course of the Database design and development a part of the semester 1 of the Web Development as it explains the all about the Structured Query Language
                which is very beneficial language to obtain the data by applying different conditions from connected data.
                   
            </p>
            <p>
                <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301949">Learn more &raquo;</a>
            </p>
        </div>
         <div class="row">
        <div class="col-md-6">
            <h2>About The Teacher</h2>
            <p>
               The course instructor is Simon Borer he is very helpful in the course and explains the all concepts by relating to the real world 
                which make it more easier to grasp the knowledge and he is of very friendly nature with great charm he enters the class and teaches with great energy and also provide lab for practice which is helpful in the assignments.
            </p>
            <p>
                <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301950">Learn more &raquo;</a>
            </p>
        </div>
             <div class="col-md-6">
            <h2>About My Experience </h2>
            <p>
                This course of the Database design and development  is very new to me in starting i face some difficulties and not able to the grasp because i have no strong background of the it the programming languages but with the help of teacher and online studies 
                i find it good and easy.
                   
            </p>
            <p>
                <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301949">Learn more &raquo;</a>
            </p>
        </div>
    </div>
</asp:Content>




