﻿<%@ Page Title="About Me" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="Assignment_2a._Default" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">

    <div class="jumbotron">
       <h1>LOVEPREET KAUR</h1>
        <p class="lead">STUDENT AT HUMBER</p>
       
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>School Experince</h2>
            <p>
                I had completed my schooling from India in punjab region and it was the woderfull experince for me it was a golden period and i enjoyed alot there. 
            </p>
            <p>
                <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301948">Learn more &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Graduation</h2>
            <p>
                I had done bachelor of the science in year 2017.

            </p>
            <p>
                <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301949">Learn more &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Humber college </h2>
            <p>
                Recently i am doing Web Development course the experince in my college waas amazing on the 
            </p>
            <p>
                <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301950">Learn more &raquo;</a>
            </p>
        </div>
    </div>

</asp:Content>
