﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Project management.aspx.cs" Inherits="Assignment_2a.Project_management" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <h2>Project Management</h2>
    <h3>Bernie Monette</h3>
    <p>I learned many different things about the managing the different types of the project and how to deal and
        close and dsigning the web site and to represent the proposal</p>

     <div class="row">
        <div class="col-md-6">
            <h2>Course Number</h2>
            <p>
                 The course number of the Project Management is http 5102 
            </p>
            <p>
                <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301948">Learn more &raquo;</a>
            </p>
        </div>
        <div class="col-md-6">
            <h2>About The course </h2>
            <p>
                This course of the Project Management a part of the semester 1 of the Web Development as it explains the all about the proposals
                represented to the companies and explaining the use of various parts to make website approvals.
                   
            </p>
            <p>
                <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301949">Learn more &raquo;</a>
            </p>
        </div>
         <div class="row">
        <div class="col-md-6">
            <h2>About The Teacher</h2>
            <p>
               The course instructor is Bernie Monette he is very helpful in the course and explains the all concepts by relating to the real world 
                which make it more easier to grasp the knowledge.
            </p>
            <p>
                <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301950">Learn more &raquo;</a>
            </p>
        </div>
             <div class="col-md-6">
            <h2>About My Experience </h2>
            <p>
                This course of the Project Management is very new to me in starting i face some difficulties and not able to the grasp it but with the help of teacher and online studies 
                i find it good and able to complete my assignment.
                   
            </p>
            <p>
                <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301949">Learn more &raquo;</a>
            </p>
        </div>
    </div>
</asp:Content>


