﻿<%@ Page Title="Web programming" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="web programming.aspx.cs" Inherits="Assignment_2a.About" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <h2>web Programming</h2>
    <h3>Sean doyle</h3>
    <p>I learned many different interested things that are very helpful in designing the different and creative webpages</p>
     <div class="row">
        <div class="col-md-6">
            <h2>Course Number</h2>
            <p>
                 The course number of the web programming  is http 5103.
            </p>
            <p>
                <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301948">Learn more &raquo;</a>
            </p>
        </div>
        <div class="col-md-6">
            <h2>About The course </h2>
            <p>
                This course of the web programming a part of the semester 1 of the Web Development as it explains the all about the javascript
                which is very beneficial language to design any of the website.
                   
            </p>
            <p>
                <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301949">Learn more &raquo;</a>
            </p>
        </div>
         <div class="row">
        <div class="col-md-6">
            <h2>About The Teacher</h2>
            <p>
               The course instructor is Sean Doyle he is very helpful in the course and explains the all concepts by relating to the real world 
                which make it more easier to grasp the knowledge and provide supplements and lab for practice which is helpful in the assignments.
            </p>
            <p>
                <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301950">Learn more &raquo;</a>
            </p>
        </div>
             <div class="col-md-6">
            <h2>About My Experience </h2>
            <p>
                This course of the web programming  is very new to me in starting i face some difficulties and not able to the grasp because i have no strong background of the it the programming languages but with the help of teacher and online studies 
                i find it good and easy.
                   
            </p>
            <p>
                <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301949">Learn more &raquo;</a>
            </p>
        </div>
    </div>
</asp:Content>

